.weather-container {
  position: absolute; /* Set to absolute */
  color: white;
  top: 200px;
  left: 66px;
  font-size: 18px;
  font-weight: bold;
  width: 300px; /* Set a fixed width */
  height: 100px; /* Set a fixed height */
  line-height: 0.8; /* Adjust the line height as needed */
}

h3 {
  font-size: 55px;
  margin: 0;
  padding: 0;
}

.weather-info {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.big-icon {
  font-size: 48px; /* Adjust the size as needed */
}

.temperature {
  margin-left: 15px; /* Adjust margin as needed */
}

/* Path: src/weather/weather.js */