.weather-icon {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons */
  }
  
  